* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

h4 {
  margin-bottom: 20px;
  text-align: center;
}

h1 {
  margin-bottom: 20px;
}

p {
  text-align: center;
  font-size: 15px;
  margin-bottom: 20px;
}

button {
  display: block;
  margin: 0 auto;
  font-style: italic;
  height: 25px;
  width: 150px;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
}
