<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products</title>
    <style>
        * {
            font-family: monospace;
        }
        table {
            width: 50%;
            border-collapse: collapse;
        }
        th, td {
            border: 1px solid black;
            padding: 10px;
        }
        th {
            background-color: lightgray;
        }
    </style>
</head>
<body>
    <h1>Products ({{total}})</h1>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Price</th>
                <th>Category</th>
                <th>Available</th>
            </tr>
        </thead>
        <tbody>
            {% for product in products %}
            <tr>
                <td>{{ product["name"] }}</td>
                <td>${{ product["price"] }}</td>
                <td>{{ product["category"] }}</td>
                <td>{{ product["available"] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>