{% extends "base.html" %}

{% block title %} Grades {% endblock %}

{% block content %}

<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Marks</th>
            <th>Pass/Fail</th>
        </tr>
    </thead>
    <tbody>
        {% for student in students %}
        <tr>
            <td>{{student.name}}</td>
            <td>{{student.marks}}</td>
            {% if student.marks >= 50%}
                <td>Pass</td>
            {% else %}
                <td>Fail</td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}