* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

main {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

button {
  height: 30px;
  width: 50px;
  font-style: italic;
  background-color: black;
  color: white;
}

button:hover {
  background-color: white;
  color: black;
}

div {
  text-align: center;
  font-size: 200px;
  min-height: 200px;
  max-height: 200px;
  margin-bottom: 100px;
}
