.header {
  background-color: black;
  color: white;
  text-align: center;
  padding: 10px;
}

.main {
  flex: 1;               
  display: flex;          
  flex-direction: column; 
  justify-content: center;
  align-items: center; 
}

button {
  padding: 6px 12px;
  margin-bottom: 15px;
}

.buttons {
  display: flex;
  gap: 1rem;
}

table {
  width: 80%;
  border-collapse: collapse;
}

th, td {
  border: 1px solid;
  padding: 8px;
  text-align: left;
}

.footer {
  background-color: black;
  color: white;
  text-align: center;
  padding: 10px;
}